/*------------NAVBAR-----------*/
.logo {
  width: 20%;
  margin-left: 300px;
  z-index: 111111;
}

.row {
  width: 60%;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 150px;
}

.btn-secondary {
  background-color: #E2AB1A;
  border: solid #E2AB1A;
  z-index: 111111;
}

.btn-secondary:hover {
  background-color: black;
  border: solid black;
  z-index: 111111;
}
/*------------Container Homepage-----------*/
.container{
  width: 100%;
  height: 100vh;
  z-index: -10000;
}
.intro-homepage-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
    flex: 1;
    padding: 1em;
    width: 50%;
    z-index: 11111;
}
.col h1{
    margin-top: 200px;
}

.col p{
  margin-bottom: 30px;
}

.image-homepage{
  background-image: asset-url("castle-home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 70%;
  height: 100vh;
  margin-top: -120px;
  background-size: cover;
  border-radius: 15px;
  z-index: -10000;
}

#point{
  color: #E2AB1A;
}

.form-control{
  height: 3em;
}

.search-bar{
  margin-bottom: 50px;
  z-index: 888888;
}
/*------------NUMBER-----------*/

.number{
    display: flex;
}
  .counter-number {
    line-height: 48px;
    font-size: 48px;
    font-weight: bold;
    color: #E2AB1A;
  }
  .counter-title {
    color: #424242;

    strong {
      display: block;
      font-size: 1.2rem;
    }

}

.number-alignement{
  margin-right: 60px;
}
/*------------POPULAIRE----------*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: none;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }
  }
