body {
  background-image: asset-url('versailles.jpg');
  background-size: cover;
}

.form {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-right: 300px;
  margin-left: 300px;
  margin-top: 150px;
}
