.container-signup {
  background-image: asset-url('versailles.jpg');
  background-size: cover;
  padding-top: 100px;
}

.form {
  background-color: white;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 300px;
  margin-left: 300px;
}
