body {
  background-color: white;
}

.logo {
  margin-left: 300px;
  z-index: 111111;
}

.row {
  width: 60%;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 150px;
}

.btn-secondary {
  background-color: #E2AB1A;
  border: solid #E2AB1A;
  z-index: 111111;
}

.btn-secondary:hover {
  background-color: black;
  border: solid black;
  z-index: 111111;
}

hr.solid {
    border-top: 3px solid #E2AB1A;
}

.details-chateau {
  font-size: 14px;
}

.fas {
  font-size: 30px;
}

.description {
  list-style-type: none
}

.castle-title {
  text-transform: uppercase;
  font-size: 30px
}

.photo-description {
  margin-right: 10px;
}

.btn-photos {
  margin-left: 170px;
}
