.booking-new {
  border: 1px solid #dddd;
  margin-top: 50px;
  margin-left: 400px;
  margin-right: 400px;
  padding: 20px
}

.booking-title {
  text-align: center;
}

.form-booking {
  text-align: center;
  margin: auto;
}

.content-wrapper {
  min-height: calc(100vh - 550px - 80px);
}
 .nav-link {
  text-decoration: none;
  color: #E2AB1A;
}

.nav-link:hover {
  text-decoration: none;
  color: #E2AB1A;
}