<div class="container">
  <div class="intro-dashboard-container">
    <div class="col1">
      <h1>Mes réservations<span id="point">.</span></h1>
      <p>Vous retrouverez ici les différentes réservations en attentes, validées ou refusées</p>

    </div>
    <!------------------ image ------------------->
    <div class="image-dashboard"></div>
  </div>
</div>
