<div class="footer">
  <div class="footer-copyright">
    Royal Party made with <i class="fas fa-heart"></i> at Le Wagon<br>par Julia, Marina, Elliot & Anne-Laure
  </div>

  <div class="footer-connexion"></div>
    <%= link_to "Se connecter", new_user_session_path, class: "btn btn-secondary" %>
  </div>
</div>
