<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
   <div class="row">
    <div>
      <%= image_tag "logo.png", alt: "logo", class: "logo" %>
    </div>
    <div>
      <!-- Content -->
    </div>
    <div>
      <button type="button" class="btn btn-secondary">Se connecter.</button>
    </div>
  </div>
</div>
  <!-- Right Navigation -->
    <!-- Different navigation if login or not -->
