 <!-------------------- Homepage ------------------->
<div class="container">
  <div class="intro-homepage-container">
    <div class="col">
      <h1>Recherche ta prochaine destination<span id="point">.</span></h1>
      <p>N'attendez pas pour vivre une expérience dans un château dans le monde</p>
      <div class="search-bar">
        <form action="/castles" class="form-inline padded">
            <input type="text" class="form-control border-radius input-lg" placeholder="">
            <input type="submit" class="btn btn-warning btn-lg ms-15" value="Voir tous les châteaux">
        </form>
      </div>
      <!---------------------- Number ------------------------->
      <div class="number">
          <div class="number-alignement">
            <div class="counter-number" id="num-1">500K+</div>
            <div class="counter-title">  <strong>Castle</strong> à découvrir</div>
          </div>

          <div class="number-alignement">
            <div class="counter-number" id="num-2">5+</div>
            <div class="counter-title">  <strong>Pays</strong> dans le monde</div>
          </div>

          <div class="number-alignement">
            <div class="counter-number" id="num-3">300+</div>
            <div class="counter-title">  <strong>Partenaires</strong> actifs</div>
          </div>
      </div>
    </div>

    <div class="image-homepage">
    <!------------------ image ---------------->
    </div>
  </div>
</div>

    <!------------------ List des chateaux populaire ---------------->

</div>
