.container-card {
  display: flex;
  grid-template-columns: 1fr;
}

.index-header {
  text-align: center;
  padding-bottom: 30px;
}

.all-cards {
  display: flex;
}

.card-body {
  display: flex;
  align-items: flex-start;
}

.card-infos {
  padding: 20px;
}

.card-text {
  font-size: 14px;
}

.card-details {
  font-size: 14px;
}

.modal-body-details {
  font-size: 12px;
}

.modal-title {
  margin-bottom: 5px;
}

.modal-body-details {
  text-align: center;
}

.modal-description {
  font-size: 12px;
  text-align: justify;
}

.castle-price {
  color: #E2AB1A;
  font-size: 18px;
}