.container-card {
  display: flex;
}

.index-header {
  text-align: center;
  padding-bottom: 30px;
}

.all-cards {
  display: flex;
  flex: 0 0 40%;
}

.card-body {
  display: flex;
  align-items: flex-start;
}

.card-infos {
  padding: 20px;
}

.card-text {
  font-size: 14px;
}

.card-details {
  font-size: 16px;
}

.castle-price {
  color: #E2AB1A;
  font-size: 18px;
}
