.mapboxgl-popup-content {
  text-align: center;
  margin: 10px;
}

.flat-card-image-popin {
  width: 20vh;
  height: 20vh;
  background-position: center;
  margin: 10px;
  border-radius: 8px;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
  flex: 0 0 60%;
}