.modal-details {
  font-size: 16px;
  color: #E2AB1A;
}

.modal-details-castle {
  font-size: 14px;
}

i {
  font-size: 100%;
  padding: 10px;
}

.modal-description {
  font-size: 16px;
  text-align: justify;
}

.modal-content {
  border-radius: 15px;
  overflow: hidden;
}

.carousel-inner {
  border-radius: 15px;
}

.reservation {
  background-color: #E2AB1A;
  border-color: #E2AB1A;
}

.reservation:hover {
  background-color: black;
  border-color: black;
}
