.modal-details {
  font-size: 16px;
  color: #E2AB1A;
}

.modal-details-castle {
  font-size: 14px;
}

i {
  font-size: 100%;
  padding: 10px;
}

.modal-description {
  font-size: 16px;
  text-align: justify;
}

.modal-content {
  border-radius: 15px;
}

.carousel-inner {
  border-radius: 15px;
}

.bouton-reservation {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
