.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-left: 150px;
  margin-right: 135px;
  margin-bottom: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.nav-item-logout {
  color: black;
  text-decoration: none;
  padding: 8px 10px;
}

.nav-item-logout a {
  color: black;
  text-decoration: none;
  padding: 8px 10px;
}
