.navbar-lewagon {
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 165px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.menu-log-out {
  text-decoration: none;
  color: black;
  margin-left: 23px;
}

.menu-log-out:hover {
  text-decoration: none;
  color: black;
  margin-left: 23px;
  background-color: #eaecef;
}
