.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-left: 150px;
  margin-right: 135px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
