  <div mapboxgl-popup-content>
    <%= image_tag castle.photo_url, alt: "Photo du château", class: "flat-card-image-popin" %>
    <div>
      <h4><%= castle.title %></h4>
      <p><%= castle.address %></p>
      <button type="button" class="btn btn-gold" data-toggle="modal" data-target="#<%= "modal_#{castle.id}" %>">
        En savoir plus
      </button>
    </div>
</div>
